@import "../../styles/mixins.scss";

.price {
  padding-block: 1rem 3rem;
  background-color: #fff7ed;

  &__text {
    text-align: center;
    max-width: 60%;
    margin-inline: auto;

    p {
      color: #6a7280;
      margin-top: 1rem;
    }

    @include respond(tab-port) {
      max-width: 90%;
    }
  }

  &__container {
    margin-top: 5rem;
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;

    @include respond(phone) {
      padding-inline: none;
    }
  }

  &__card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;

    h3 {
      color: #111827;
      font-size: 1.25rem;
      line-height: 1.2;
      letter-spacing: -0.015rem;
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 700;
    }

    p {
      text-align: center;
      color: #6a7280;
    }
  }

  &__card-price {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;

    h3 {
      font-size: 3rem;
      line-height: 1.1;
      letter-spacing: -0.025rem;
    }
  }

  &__card-valid {
    color: #6a7280;
    width: 8rem;
    font-size: 0.875rem;
  }

  &__card-listContainer {
    margin-block: 1.5rem;
  }

  &__card-list {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.3rem;

    p {
      color: #374151;
      font-size: 1.1rem;
    }

    svg {
      font-size: 1.3rem;
      color: #6025cd;
    }
  }

  &__btn {
    width: 100%;
    padding-block: 0.8rem;
  }

  &__bg-1 {
    position: absolute;
    width: 100%;
    top: -10rem;
  }
}
